h1 {
    color: coral;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#divClass {
    justify-content:center;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: crimson;
    padding: 50px;
    border: 2px solid coral;
    justify-content:center;
}
#spanId {
    font-size: 18px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image : url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_Argentina_%28vertical%29.svg/240px-Flag_of_Argentina_%28vertical%29.svg.png"); 
    margin-left: auto;
    margin-right: auto;
}